.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10wh;
  background: #2c3e50;
  color: #fff;

}

.nav-links{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;

}